/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Linking Components CSS */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/footer.css");
@import url("components/card.css");
@import url("components/video.css");

/* Utilities */
body {
  margin: 0;
  font-family: Lexend;
}

h1, h2, h3, h4 {
  font-family: Lexend;
  color:white;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container {
  margin:0px 20px;
}
