.banner {
  background-image: url(../../images/dolphin_background.jpg);
  background-size:cover;
  background-position:50% 30%;
  padding:200px 0px;
}

.banner .container {
  margin:0px 60px;
}

.banner p {
  color:white;
  font-weight:500;
  font-size:18px;
  line-height:2em;
  margin-bottom:20px;
  text-shadow:2px 2px 4px #000000;
}

.banner h1 {
  margin-bottom:32px;
  text-shadow:2px 2px 4px #000000;
  font-family:Lexend;
}
